.Input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    background-color: white;
    padding: 6px 10px;
    outline: none;
    border: 1px solid #ccc;
    font: inherit;
}
.InputElement:focus {
    background-color: #ccc;
    outline: none;
}

.Invalid {
    background-color: indianred;
    color: white;
}

.Invalid:focus {
    background-color: indianred;
    color: white;
}
.ErrorMsg {
    color: red;
    display: block;
}